*__pycache__*
*.pyc
*.so
docs/*
*/data/
*.png
*.h5
*.mat
*.pyc
*.pt
*.gif
*.jpg
*.png
*.pdf
*.log
**/checkpoints/
**/samples/
slurm*
*.txt
*.swp
*.o
*.npy
*.pkl
Data/
myenv*/
*.json
.nfs*
*.ninja_deps
*.ninja_log
**/build/**
!requirements.txt
lib/
**/results/**
**/targets/**